pytorch-lightning==2.5.1
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
transformers==4.49.0
diffusers==0.31.0
neptune==1.13.0
wandb==0.19.7
torch-ema
asteroid_filterbanks
matplotlib
numpy==1.23.5
pandas
PyYAML
scikit_learn==1.6.1
scipy
soundfile
tqdm
audioread
librosa